In [5]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [6]:
df=pd.read_csv("city_weather.csv")
df

         Date  Temperature (°C)  Humidity Level (%)  Air Quality Index
0  2024-07-07              25.3                  60                 45
1  2024-07-08              27.1                  55                 50
2  2024-07-09              24.8                  63                 42
3  2024-07-10              26.5                  58                 47
4  2024-07-11              28.0                  50                 52

In [7]:
df.set_index("Date", inplace=True)
print(df)

            Temperature (°C)  Humidity Level (%)  Air Quality Index
Date
2024-07-07              25.3                  60                 45
2024-07-08              27.1                  55                 50
2024-07-09              24.8                  63                 42
2024-07-10              26.5                  58                 47
2024-07-11              28.0                  50                 52

In [13]:
print(df.head())

            Temperature (°C)  Humidity Level (%)  Air Quality Index
Date
2024-07-07              25.3                  60                 45
2024-07-08              27.1                  55                 50
2024-07-09              24.8                  63                 42
2024-07-10              26.5                  58                 47
2024-07-11              28.0                  50                 52

In [15]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, 2024-07-07 to 2024-07-11
Data columns (total 3 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Temperature (°C)    5 non-null      float64
 1   Humidity Level (%)  5 non-null      int64
 2   Air Quality Index   5 non-null      int64
dtypes: float64(1), int64(2)
memory usage: 160.0+ bytes
None

In [17]:
print(df.describe())

       Temperature (°C)  Humidity Level (%)  Air Quality Index
count           5.00000            5.000000           5.000000
mean           26.34000           57.200000          47.200000
std             1.30499            4.969909           3.962323
min            24.80000           50.000000          42.000000
25%            25.30000           55.000000          45.000000
50%            26.50000           58.000000          47.000000
75%            27.10000           60.000000          50.000000
max            28.00000           63.000000          52.000000

In [19]:
print(df.describe().T)

                    count   mean       std   min   25%   50%   75%   max
Temperature (°C)      5.0  26.34  1.304990  24.8  25.3  26.5  27.1  28.0
Humidity Level (%)    5.0  57.20  4.969909  50.0  55.0  58.0  60.0  63.0
Air Quality Index     5.0  47.20  3.962323  42.0  45.0  47.0  50.0  52.0

In [31]:
print(df['Temperature (°C)'].mean())

26.339999999999996

In [33]:
print(df['Humidity Level (%)'].mean())

57.2

In [35]:
print(df['Air Quality Index'].mean())

47.2

In [49]:
print(df['Temperature (°C)'].median())

26.5

In [51]:
print(df['Humidity Level (%)'].median())

58.0

In [43]:
print(df['Air Quality Index'].median())

3.96232255123179

In [53]:
print(df['Temperature (°C)'].std())

1.3049904214207857

In [55]:
print(df['Humidity Level (%)'].std())

4.969909455915671

In [57]:
print(df['Air Quality Index'].std())

3.96232255123179

In [59]:
print(df['Temperature (°C)'].sum())

131.7

In [61]:
print(df['Humidity Level (%)'].sum())

286

In [63]:
print(df['Air Quality Index'].sum())

236