In [31]:
import numpy as np
import pandas as pd
from datetime import datetime

# Define the date range

In [33]:
start_date=datetime(2023,6,30)
end_date=datetime(2024,6,30)
date_range=pd.date_range(start_date,end_date)

# Generating random data

In [35]:
np.random.seed(0)
temperature=np.random.uniform(low=18,high=47,size=len(date_range))
humidity=np.random.uniform(low=35,high=87,size=len(date_range))
aqi=np.random.uniform(low=25,high=290,size=len(date_range))

# Create DataFrame

In [54]:
data={'Date':date_range,
      'Temperature (°C)':temperature,
      'Humidity (%)':humidity,
      'Air Quality Index':aqi}

In [56]:
df=pd.DataFrame(data)
df

          Date  Temperature (°C)  Humidity (%)  Air Quality Index
0   2023-06-30         33.915592     55.749317         156.432128
1   2023-07-01         38.740492     82.010308         205.661085
2   2023-07-02         35.480138     70.881301          98.495172
3   2023-07-03         33.801612     71.380347         163.960650
4   2023-07-04         30.285989     52.041461          56.105778
..         ...               ...           ...                ...
362 2024-06-26         33.770373     53.956321          29.521029
363 2024-06-27         31.250431     61.055285         281.269553
364 2024-06-28         43.579201     54.572236         187.990375
365 2024-06-29         31.299515     53.975415         171.396351
366 2024-06-30         39.000861     48.567034         103.426706

[367 rows x 4 columns]

# Save DataFrame to CSV

In [59]:
df.to_csv('city__weather.csv',index=False)